
<h1>MOVIES</h1>
<p><span data-controller="typed-js"></span></p>
<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/imagen1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/imagen2" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/imagen3" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolore reiciendis, quasi ipsum aspernatur voluptatibus illo aliquam quae pariatur corporis fuga itaque aliquid accusantium impedit natus officia perferendis at? Delectus.
Obcaecati, ab perspiciatis libero, beatae neque maiores, suscipit iure asperiores consequatur iusto cum eos quas. Nam culpa quidem, explicabo nemo perspiciatis temporibus officiis in sed nulla numquam dolore, voluptas maxime!
Eos, ad ex. Recusandae architecto amet magnam quia possimus ullam alias dolorem expedita voluptatum tempore, blanditiis aperiam quos sint at voluptate. Earum rerum ipsa quos ab necessitatibus eos veritatis praesentium!
Qui amet, consequuntur quos fugit impedit deserunt nulla optio obcaecati quia corrupti rerum repellat, eum omnis cupiditate voluptatem eveniet nostrum sunt ut itaque ad vel praesentium voluptatibus? Quidem, illum iste!
Cum alias voluptatum cumque quis? Quasi quisquam inventore reprehenderit similique suscipit earum alias, quae optio iste quo officiis accusantium facilis officia, laboriosam iusto! Pariatur voluptatibus quisquam, ab odio assumenda dolorum!
Asperiores, atque quae laborum et eius deleniti vitae quisquam excepturi vel voluptate! Consequuntur debitis facilis delectus fugiat voluptatibus ea dolore non voluptas tenetur eos corrupti, nobis quam labore error reiciendis.
Commodi vel sed reprehenderit rem eos modi! Ipsa hic architecto sapiente ad, eum est veritatis aperiam, suscipit asperiores quia modi, optio magnam beatae illo culpa odio dolore! Cumque, saepe nisi.
Beatae, quidem. Ipsum possimus cupiditate maiores, excepturi iusto esse adipisci amet quas. Dolores, ab itaque! Rerum eaque nulla, accusantium tempore deserunt odit voluptate alias hic molestias, pariatur voluptates iste. Nisi.
Quos eveniet quaerat eligendi explicabo quasi, mollitia sequi officiis. Tenetur placeat aspernatur perferendis optio labore iusto sit quae ipsa doloribus beatae saepe eum eligendi accusamus quam, ad, cupiditate quos tempore?
Veniam et, harum cumque nihil ipsam voluptas repellat incidunt voluptatibus minima aperiam quidem nisi, vel itaque quaerat rem consectetur autem doloribus in. Voluptatibus similique quis nam laborum tempora! Necessitatibus, enim?</p>
<div class="logo"></div>
<%= image_tag "imagen3.jpg", alt: "plataforma de peliculas2", width: 200 %>
<i class="fa-solid fa-tv"></i>
