// Specific CSS for your home-page
*{
  margin: 0px;
  padding: 0px;
}

.banner{
  margin:auto;
  //margin-top: 60px;
  width:460px;
  height: 100px;
}

.container{
  margin:auto;
  margin-top: 60px;
  width:960px;
  height: 800px;
}
